* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url(../img/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid #fff;
}

.nav-address {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2px;
}

.add-first {
  color: #cccccc;
  font-size: 12px;
  margin-left: 15px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.add-sec {
  color: #fff;
  font-size: 14px;
  margin-left: 8px;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 5px;
}

.nav-search:hover {
  border: 2px solid #febd68;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 16px;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #febd68;
  color: #0f1111;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

span {
  font-size: 12px;
  text-align: left;
}

.nav-signin {
  height: 50px;
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-return {
  height: 50px;
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-second {
  font-size: 15px;
  font-weight: 700;
}

.nav-cart {
  font-weight: 700;
  height: 50px;
  padding: 0 2px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.nav-cart i {
  font-size: 25px;
}

.panel {
  height: 40px;
  background-color: #222f3d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops {
  width: 70%;
  font-size: 14px;
}

.panel-ops p {
  display: inline;
  margin: 0 4px;
}

.panel-deals {
  font-size: 15px;
  font-weight: 700;
}

.hero-section {
  height: 350px;
  background-image: url("../img/hero_image.jpg");
  background-size: cover;
  position: relative;
}

.hero-msg {
  height: 40px;
  width: 80%;
  margin-left: 175px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  bottom: 25px;
}

.hero-msg a {
  color: #007185;
  text-decoration: none;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  /* border: 2px solid #000; */
  background-color: #fff;
  padding: 10px 15px;
  margin: 15px 0;
}

.box-img {
  margin: 10px 0;
}

.box-img img {
  height: 300px;
}

.box p {
  color: #007185;
}

.footer-panel-top {
  background-color: #37575a;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.footer-panel-middle {
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  padding: 40px 10px;
  border-bottom: 1px solid #cccccc;
}

.footer-panel-middle ul {
  list-style-type: none;
}

.footer-panel-middle .head {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.footer-panel-middle ul li {
  margin-top: 10px;
  color: #ddd;
  font-size: 14px;
}

.footer-panel-bottom {
  background-color: #222f3d;
  padding: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.footer-panel-bottom img {
  width: 75px;
}

.footer-panel-bottom .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  color: #fff;
}
